body{
    margin-top: 30px;
    padding: 50px;
    font-size: 18px;
    width: 80%;

}

.nav{
    display: flex;
    gap: 40px;
}
.image{
    height:300px;
    width: fit-content;
}
.name
{
    color: rgba(26, 26, 184, 0.763);
}

.intro{
    height: 30px;
    display: flex;
    align-items: center;
    gap: 15px;
    
}
.intro span{
    color: rgba(26, 26, 184, 0.763);
}

.intro a{
    text-decoration: none;
    color: black;
}

.profile{
    width: 50%;
    gap: 100px;
    
    display: flex;
}
.skills
    {
      margin-left: 30px;

    }

    .skills li{
        list-style-type: circle;
        
        color: black;
    }

    .list{
        color:  rgba(184, 26, 26, 0.763);
       border: 2px solid   rgba(26, 26, 184, 0.763) ;
    }

    .edu
    {    width: fit-content;
        display: flex;
        justify-content: space-between;
        gap: 60px;
    }
    

    .location{
        margin-left: 40px;
    }

    .loc{
        margin-left: 300px;
    }
    .time{
        color: rgb(59, 59, 184);
        font-weight: 20px;
    }
